[Unit]
Description=EE3638 Flask IoT Web Dashboard
After=network.target ee3638_logger.service
Wants=ee3638_logger.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/ee3638_iot
ExecStart=/home/pi/ee3638_iot/scripts/run_web.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
